{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "zip -qr /tmp/release.zip *.yaml redis commands"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "/tmp/release.zip",
            "name": "ddev-redis-7-${nextRelease.version}.zip",
            "label": "DDev Redis 7 Addon v${nextRelease.version}"
          }
        ]
      }
    ]
  ]
}
